<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093148006415-k1ta5okgekg9dpjjm2s17tm4sq9r5gjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093148006415-k1ta5okgekg9dpjjm2s17tm4sq9r5gjv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1093148006415-57g1tfpv9lrsm9ef5qfk6potjunvtb6b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgZ51OertjAHcRhhr7Y55-eJF1QVUo784</string>
	<key>GCM_SENDER_ID</key>
	<string>1093148006415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymCollection</string>
	<key>PROJECT_ID</key>
	<string>gym-collection</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-collection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093148006415:ios:fdd69101b4b54d8855eb7a</string>
</dict>
</plist>