<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFH6Ltp5MzMcQBGXq3dCuecooAHQcWHxc</string>
	<key>GCM_SENDER_ID</key>
	<string>93758311709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymCollection</string>
	<key>PROJECT_ID</key>
	<string>gym-collection-ac01d</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-collection-ac01d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93758311709:ios:2f802599a6aa4c3dff65f4</string>
</dict>
</plist>